.header{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 50px;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
}

.logo{
    display: flex;
    padding-top: 50px;
}

.display-logo{
    margin-left: 5%;
}

.links {
    display: flex; 
    justify-content: space-between;
    gap: 40px;
    position: absolute;
    right: 0px;
    padding-top: 70px;
    padding-right: 5%;
    list-style-type: none;
    font-size:x-large
}

a{
    text-decoration: none;
    color: #FF6060;
}

.underline {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {

    .logo{
        width: 50%;
    }


    .links {
        gap: 20px;
        padding-top: 50px;
        font-size: large;
    }
}