.red-star{
    color: #FF6060;
}

.gray-star{
    color: #E3E3E3;
}

.container-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.titre-loca-tag{
    padding-left: 5%;
}

main{
    max-width: 1400px;
    margin: auto;
}



.titre-logement{
    display: flex;
    text-align: left;
    justify-content: left;
    color: #FF6060; 
    font-size: xx-large;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 30px;
}

.location{
    display: flex;
    padding-left: 5px;
    color: #FF6060; 
    margin: 5px 0px 0px;
    font-weight: 400;
}

.container-tags{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.tag{
    color: white;
    background-color: #FF6060;
    padding: 5px 15px;
    border-radius: 15px;
    margin-right: 15px;
}


.nom-photo-stars{
    padding-right: 5%;
}

.nom-photo{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    justify-content: end;
    text-align: right;
    margin: 30px 0px 0px;

}

.nom{
    color: #FF6060;
    text-align: end;
    width: 30%;
    font-size: larger;
    object-fit: cover;
}

.photo-profil{
    border-radius: 60px;
    width: 64px;
    height: 64px;
}

.stars-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    gap: 10px;
}

.accordion-logement{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    justify-content: center;
    margin: 50px 7%;
}

.txt-vertical{
    text-align: center;
}

.compteur{
    color: white;
    position: absolute;
    bottom: 0%;
    left: 50%;
    font-weight: 500;
    font-size: x-large;
}

.li-tag{
    list-style-type: none;
}

.none{
    display: none;
}

@media screen and (max-width: 768px) {

    .container-info{
        flex-direction: column;
    }

    .nom-photo-stars {
        display: flex;
        flex-direction: row-reverse;
    }

    .nom-photo{
        overflow: hidden;
        gap: 20px;
    }

    .nom{
        width: 50%;
    }

    .stars-container{
        align-items: center;
        margin-top: 10px;
        width: 60%;
        justify-content: left;
        padding-left: 10%;
        overflow: hidden;
    }

    .accordion-logement{
        display: block;
    }

    .fa-5x{
        font-size: 3em;
    }

    .fa-2x{
        font-size: 1em;
    }

    .arrow-left{
        top: 45%;
    }

    .arrow-right{
        top: 45%;
    }
    
}
