.montagne{
    object-fit: cover;
    width: 80%;
    height: 250px;
    border-radius: 20px;
    margin-top: 70px;
}

@media screen and (max-width: 768px) {

    .montagne{
        margin-top: 0px;
    }
    
}