.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 100%;
    align-items: center;
    margin-top: 150px;
}

.logoblack{
    width: 120px;
    padding-left: 0px;
    padding-top: 40px;
}

.rights{
    width: 300px;
    padding-top: 30px;
    padding-bottom: 50px;
}

@media screen and (max-width: 768px) {

    .footer{
        margin-top: 50px;
    }

    .logoblack{
        width: 60px;
    }

    .rights{
        width: 50%;
        overflow: hidden;
    }

}