
.titre{
    color: white;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-85%);
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    width: 80%;
}



.img{
    object-fit: cover;
    width: 90%;
    height: 250px;
    z-index: 0;
    border-radius: 20px;
}



.container-presentation{
    position: relative;
    margin-top: 70px;
}






@media screen and (max-width: 810px) {

    .titre{
        font-size: 200%;
    }

}

@media screen and (max-width: 768px) {

    .titre{
        font-size: 150%;
    }

    .img{
        height: 150px;
    }
}